/* table section */
.table-custom td {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

thead th:first-child {
    background-color: white;
    opacity: 1;
    position: sticky;
    left: 0;
    z-index: 1;
}

tbody td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

tr, th, td {
    border: 1px solid #dddddd;
    text-align: center;
}

/* card-spend section */
.cell-card-spend-name {
    background-color: #C0DCE6;
}

.cell-card-spend-value {
    background-color: #F0F8FF;
    color: #000000;
}

/* total section */
.cell-total-name {
    background-color: #F0E68C;
    font-weight: bold;
}

.cell-total-value {
    background-color: #FFFACD;
    font-weight: bold;
}

/* forms section */
#card-spend-form {
    display: none;
}

.month_buttons button,
.fees_buttons button {
    padding: 5px;
    margin: 5px;
}

.month_buttons button.selected,
.fees_buttons button.selected {
    background-color: lightblue;
    color: white;
    font-weight: bold;
}

.error-message {
    color: red;
    display: none;
}

label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    font-size: 16px;
}

.btn-primary {
    margin-top: 5px;
}
