/* table section */
.table-custom td {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

thead th:first-child {
    background-color: white;
    opacity: 1;
    position: sticky;
    left: 0;
    z-index: 1;
    border-bottom: none;
}

tbody td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

tr, th, td {
    border: 1px solid #dddddd;
    text-align: center;
}

td.selected {
    border: 2px solid black;
}

td.editing {
    background-color: gainsboro;
}

.done {
    color: #708090;
    text-decoration: line-through;
}

/* card-spend section */
.cell-card-spend-name {
    background-color: #C0DCE6;
    min-width: 150px;
}

.cell-card-spend-value {
    background-color: #F0F8FF;
    color: #000000;
    position: relative;
    min-width: auto;
    white-space: nowrap;
}

.cell-card-spend-value > div {
    display: inline-block;
}

.installment-container,
.fee-prog-container {
    display: inline-block;
}

.fee-prog-container {
    position: relative;
    top: -8px;
    bottom: 8px;
}

.fee-prog {
    font-size: 8px;
    color: gray;
}

/* total section */
.cell-total-name {
    background-color: #F0E68C;
    font-weight: bold;
}

.cell-total-value {
    background-color: #FFFACD;
    font-weight: bold;
}

/* forms section */
#card-spend-form {
    display: none;
}

.month_buttons button,
.fees_buttons button {
    padding: 5px;
    margin: 5px;
}

.month_buttons button.selected,
.fees_buttons button.selected {
    background-color: lightblue;
    color: white;
    font-weight: bold;
}

.error-message {
    color: red;
    display: none;
}

label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    font-size: 16px;
}

.btn-primary {
    margin-top: 5px;
    font-size: 0.8rem;
}
