/* table section */
.table-custom td {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

thead th:first-child {
    background-color: white;
    opacity: 1;
    position: sticky;
    left: 0;
    z-index: 1;
    border-bottom: none;
}

tbody td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

tr, th, td {
    border: 1px solid #dddddd;
    text-align: center;
}

td.selected {
    border: 2px solid black;
}

td.editing {
    background-color: gainsboro;
}

/* inflow section */
.cell-earning-name {
    background-color: lightgreen;
    min-width: 150px;
}

.cell-earning-value {
    color: green;
}

.cell-inflow-name {
    background-color: #F0F8FF;
    font-weight: bold;
}

.cell-inflow-value {
    background-color: #F0F8FF;
    font-weight: bold;
    color: green;
}

/* outflow section */
.cell-fixed-cost-name {
    background-color: lightcoral;
}

.cell-fixed-cost-value {
    color: #DC143C;
}

.cell-outflow-name {
    background-color: #F0F8FF;
    font-weight: bold;
}

.cell-outflow-value {
    background-color: #F0F8FF;
    font-weight: bold;
    color: #DC143C;
}

.cell-balance-name {
    background-color: #F0E68C;
    font-weight: bold;
}

.cell-balance-value {
    background-color: #FFFACD;
    font-weight: bold;
}

.done {
    color: #708090;
    text-decoration: line-through;
}

/* forms section */
#fixed-cost-form,
#earning-form,
#invest-form {
    display: none;
}

.month_buttons button,
.input_buttons button {
    padding: 5px;
    margin: 5px;
}

.month_buttons button.selected,
.input_buttons button.selected {
    background-color: lightblue;
    color: white;
    font-weight: bold;
}

.error-message {
    color: red;
    display: none;
}

label {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    font-size: 16px;
}

.btn-primary {
    margin-top: 5px;
    font-size: 0.8rem;
}

.template,
.inv-summ {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    display: none;
}

.template div,
.inv-summ div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.template label,
.inv-summ label {
    font-weight: bold;
    font-size: 13px;
    color: #333;
    margin-right: 10px;
    margin-left: 15px;
}

.template span,
.inv-summ span {
    font-size: 12px;
    color: #666;
    flex: 1;
}

.template span:last-child,
.inv-summ span:last-child {
    line-height: 1;
}
