/* table section */
.table-custom td {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

th:first-child {
    background-color: white;
    opacity: 1;
}

tr, th, td {
    border: 1px solid #dddddd;
    text-align: center;
}

/* inflow section */
.cell-earning-name {
    background-color: lightgreen;
}

.cell-earning-value {
    color: green;
}

.cell-inflow-name {
    background-color: #F0F8FF;
    font-weight: bold;
}

.cell-inflow-value {
    background-color: #F0F8FF;
    font-weight: bold;
    color: green;
}

/* outflow section */
.cell-fixed-cost-name {
    background-color: lightcoral;
}

.cell-fixed-cost-value {
    color: #DC143C;
}

.cell-outflow-name {
    background-color: #F0F8FF;
    font-weight: bold;
}

.cell-outflow-value {
    background-color: #F0F8FF;
    font-weight: bold;
    color: #DC143C;
}

.cell-balance-name {
    background-color: #F0E68C;
    font-weight: bold;
}

.cell-balance-value {
    background-color: #FFFACD;
    font-weight: bold;
}

/* forms section */
#fixed-cost-form,
#earning-form {
    display: none;
}

.month_buttons button,
.name_buttons button {
    padding: 5px;
    margin: 5px;
}

.month_buttons button.selected,
.name_buttons button.selected {
    background-color: lightblue;
    color: white;
    font-weight: bold;
}

.error-message {
    color: red;
}

label {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    font-size: 16px;
}

.btn-primary {
    margin-top: 5px;
}
