{% extends 'base.html' %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped table-custom" id="fixed-columns-table">
        <thead>
        <tr>
            <th></th>
            <th>January</th>
            <th>February</th>
            <th>March</th>
            <th>April</th>
            <th>May</th>
            <th>June</th>
            <th>July</th>
            <th>August</th>
            <th>September</th>
            <th>October</th>
            <th>November</th>
            <th>December</th>
        </tr>
        </thead>
        <tbody>
        <!-- Card spend section -->
        {% for card_spend in card_spends %}
        <tr>
            <td class="card-spend-name">{{ card_spend.name }}<span>{{card_spend.price }} / {{ card_spend.fees }}</span>
            </td>
            {% for month in months %}
            <td class="cell-card-spend-value">
                {% for installment_payment in installment_payments %}
                {% if installment_payment.name == card_spend.name and installment_payment.month == month %}
                {{ installment_payment.fee_value }}
                {% endif %}
                {% endfor %}
            </td>
            {% endfor %}
            <td class="delete-button"><a href="{% url 'delete_card_spend' card_spend.id %}">❌</a></td>
        </tr>
        {% endfor %}
        <!-- Total section -->
        <tr>
            <td class="cell-total-name">Total</td>
            {% for month in months %}
            <td class="cell-total-value">
                {% for card_spend in total_card_spend_by_month %}
                {% if card_spend.month == month %}
                {{ card_spend.total }}
                {% endif %}
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
</div>
<button id="fixed-cost-button" type="submit" class="btn btn-primary">Set card spend</button>
<form id="card-spend-form" action="{% url 'set_card_spend' %}" method="post">
    {% csrf_token %}
    <div>
        <div>
            <label for="card_spend_name">Card spend:</label>
            <input type="text" id="card_spend_name" name="name" maxlength="20" required>
        </div>
        <label for="card_spend_price">Price:</label>
        <input type="number" id="card_spend_price" name="price" required>
        <div class="month_buttons">
            <button type="button" value="1" onclick="setMonthValue(this)">1</button>
            <button type="button" value="3" onclick="setMonthValue(this)">3</button>
            <button type="button" value="6" onclick="setMonthValue(this)">6</button>
            <button type="button" value="9" onclick="setMonthValue(this)">9</button>
            <button type="button" value="12" onclick="setMonthValue(this)">12</button>
        </div>
        <label for="card_spend_fees">Fees:</label>
        <input type="text" id="card_spend_fees" name="name" maxlength="20" required>
        <label>Initial month:</label>
        <div class="month_buttons">
            <button type="button" value="1" onclick="setMonthValue(this)">Jan</button>
            <button type="button" value="2" onclick="setMonthValue(this)">Feb</button>
            <button type="button" value="3" onclick="setMonthValue(this)">Mar</button>
            <button type="button" value="4" onclick="setMonthValue(this)">Apr</button>
            <button type="button" value="5" onclick="setMonthValue(this)">May</button>
            <button type="button" value="6" onclick="setMonthValue(this)">Jun</button>
            <button type="button" value="7" onclick="setMonthValue(this)">Jul</button>
            <button type="button" value="8" onclick="setMonthValue(this)">Aug</button>
            <button type="button" value="9" onclick="setMonthValue(this)">Sep</button>
            <button type="button" value="10" onclick="setMonthValue(this)">Oct</button>
            <button type="button" value="11" onclick="setMonthValue(this)">Nov</button>
            <button type="button" value="12" onclick="setMonthValue(this)">Dec</button>
        </div>
        <input type="hidden" id="fixed_month" name="month" required>
        <span id="cost-month-error" class="error-message"></span>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left: 70px">Set</button>
    <button id="cancel-cost-btn" type="submit" class="btn btn-primary">Cancel</button>
</form>
{% endblock %}
